@media (max-width: 2000px) {
	footer .container{
		max-width: 90%;
	}
	header .container{
  		max-width: 90%;
	}
}
/* Untuk Tablets */
@media (max-width: 1000px) {
	footer .container{
		width: 100%;
	}
  .footer-part{
    width: 50%;
  }
	
	.extra-icon {
        width: 50%;
        margin-bottom: 30px;
    }
	
	.lesson {
        width: 100%;
        margin-bottom: 50px;
    }
  .header-right{
    display:  none;
  }
  .menu-icon{
    display:  block;
  }

}

/* Untuk Smartphones */
@media (max-width:670px) {
  footer .container{
		width: 100%;
  }
  .footer-part{
    width: 100%;
  }
	.extra-icon {
        width: 100%;
    }
  
  .lesson {
        width: 100%;
    }
  .header-right{
    display:  none;
  }
  .menu-icon{
    display:  block;
  }
}
