/* Untuk Tablets */
@media (max-width: 1000px) {
  .lesson {
    width: 50%;
    margin-bottom: 50px;
  }
  .footer-part{
    width: 50%;
  }
}

/* Untuk Smartphones */
@media (max-width:670px) {
  .lesson{
    width:100%;
  }
  .footer-part{
    width: 100%;
  }  
}