/* Untuk Tablets */
@media (max-width: 1000px) {
	footer .container{
		width: 100%;
	}
  .footer-part{
    width: 50%;
  }
}

/* Untuk Smartphones */
@media (max-width:670px) {
  footer .container{
		width: 100%;
  }
  .footer-part{
    width: 100%;
  }
}