* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding : 0;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.lesson-wrapper {
padding-bottom: 80px;
background-color:#f7f7f7;
text-align: center;
}

.heading {
    padding-top: 40px;
    padding-bottom: 30px;
    color: #FFF;
}

.heading h2 {
    font-weight: normal;
    text-align: center;
}
.lesson-wrapper{
  padding-left: 5%;
  padding-right: 5%;
}
.lesson {
    float: left;
    width: 33%;
    text-align: center;
}

.lesson-icon {
    position: relative;
    text-align: center;
    color:bold;
    font-size: 20px;
}

.lesson-icon p {
    text-align: center;

}

.txt-contents {
    color: #b69fbe;
    
}


footer img {
  width: 125px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: rgba(34, 50, 100, 0.9);
  color: #fff;
}
footer .container{
  max-width: 1170px;
  margin: 0 auto;
}
.footer-part{
  float: left;
  width: 25%;
  padding: 20px;
}
.footer-part img{
  padding-top:20px;
}
.footer-part a img{
  padding: 0;
}
.footer-part a img:hover{
  cursor: pointer;
}
.source{
  padding-top: 30px;
  padding-bottom: 0;
  margin-bottom: 0;
  color: #FFF;
}
.footer-part ul{
  list-style: none;
  padding-left: 0;
}
.footer-part ul li a{
  color:#fff;
}
.footer-part ul li a:hover{
  color:#dedede;
  text-decoration: underline;
  cursor: pointer;
}

.copyright{
  border-top: 2px solid #fff;
  padding:20px 20px 0 20px;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(https://siduy.net/j10/top_en.png);
  background-size: cover;
  color: white;
  text-align: center;
}
.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
}

.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}


.btn-wrapper p {
  margin: 10px 0;
}

.try {
  background-color: #9C27B0;
  margin-right: 10px;
}

.discover {
  background-color: orange;
  margin-right: 10px;
}

.contact {
  background-color: green;
  margin-right: 10px;
}

.btn {
  padding: 20px 40px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 20px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

.btn {
animation-name: example;
animation-duration: 10s;
}
@keyframes example {
from {background-color: white;}
to {background-color: auto;}
}

.btn-wrapper a
{
  background-color: blank;
  position: relative;
  animation-name: example1;
  animation-duration: 5s;
  animation-iteration-count: 1;
}

@keyframes example1 {
  0% {background-color: inherit; left:500px; top:0px;}
  50%  {background-color: inherit; left:0%; top:0px;}
}

.btn-wrapper p
{
  background-color: blank;
  position: relative;
  animation-name: example2;
  animation-duration: 5s;
}

@keyframes example2 {
  0% {background-color: inherit; right:500px; top:0px;}
  50%  {background-color: inherit; right:0%; top:0px;}
}
.btn-wrapper a,p {
  animation-timing-function: ease-out;
}

.extra1 {
    padding-bottom: 80px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #9E9E9E;
    text-align: center;
    color: #fff;
}

.container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.heading {
    padding: 50px 0;
    font-size: 40px;
    text-shadow: 1px 1px 2px black;
  margin:0;
}

.extra-icon {
    float: left;
    width: 20%;
}

.extra-icon h3 {
    margin: 10px 0;
    text-shadow: 1px 1px 2px black;
    font-size: 20px;
}

.extra-icon img{
    border-radius: 50%;
    box-shadow: 0 3px 20px rgba(0,0,0, 0.5);;
    height: 200px;
}
header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 50, 100, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}
header .container{
  max-width: 1170px;
}

.header-left {
  float: left;
  color: white;
  margin-top: 20px;
  padding-left: 20px;
}
.header-left a img{
  height: 35px;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
  cursor: pointer;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
